<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Error :(</title>
        <link rel="icon" type="image/icon" href="/horn-of-odin.png" />
        <link rel="stylesheet" href="/styles/styles.css" />
    </head>
    <body>
        <div id="error-main">
            <div id="error-header">Error :(</div>
            <div id="error-msg"><%= locals.message %></div>
        </div>
    </body>
</html>
