<body>
    <div class="form-container">
        <h1><%= locals.title %></h1>
        <form
            class="add-form category-form"
            action="/form/category/create"
            method="POST"
        >
            <label for="category-name">Category Name</label>
            <input
                type="text"
                id="category-name"
                name="newCategoryName"
                placeholder="Enter category name..."
                required
            />
            <button class="add-btn form-btn" type="submit">Submit</button>
        </form>
    </div>
</body>
