<body>
    <div class="form-container">
        <h1><%= locals.title %></h1>
        <label for="category-toDelete">Select category to delete</label>
        <form
            class="delete-form category-form"
            action="/form/category/delete"
            method="POST"
        >
            <% if (locals.allCategories.length !== 0) { %>
            <select name="categoryId" id="category-to-delete">
                <% locals.allCategories.forEach((category) => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
                <% }) %> <% } else { %>
                <div class="no-categories">No categories to delete</div>
                <% } %>
            </select>
            <button class="delete-btn form-btn" type="submit">Delete</button>
        </form>
    </div>

    <script>
        document
            .querySelector('.delete-form.category-form')
            .addEventListener('submit', function (event) {
                const categorySelect =
                    document.getElementById('category-to-delete');

                // Check if the select element exists and has options
                if (!categorySelect) {
                    // Prevent form submission if there are no categories to select
                    event.preventDefault();
                    alert('Cannot delete nothing. No categories available.');
                }
            });
    </script>
</body>
