<body>
    <div class="form-container">
        <h1><%= locals.title %></h1>
        <label for="category-toDelete">Select category to delete</label>
        <form
            class="delete-form category-form"
            action="/form/category/delete"
            method="POST"
        >
            <% if (locals.allCategories.length !== 0) { %>
            <select name="categoryId" id="category-to-delete">
                <% locals.allCategories.forEach((category) => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
                <% }) %> <% } else { %>
                <div class="no-categories">No categories to delete</div>
                <% } %>
            </select>
            <button class="delete-btn form-btn" type="submit">Delete</button>
        </form>
    </div>

    <script type="module">
        import { validateDeleteCategoryForm } from '/js/validateForms.js';
        document.addEventListener('DOMContentLoaded', () => {
            validateDeleteCategoryForm();
        });
    </script>
</body>
