<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/icon" href="/horn-of-odin.png" />
        <title>Odin Market</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <div id="header"><a href="/allItems">OdinMarket</a></div>

        <div id="wrapper">
            <!-- SIDEBAR -->
            <%- include('sidebar', { allCategories: allCategories, activePage:
            locals.activePage || '' }) %>

            <!-- MAIN CONTENT -->
            <%- include('main', { items: items }) %>
        </div>
    </body>
</html>
