.form-container {
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
    width: 100%;
}

.category-form {
    display: flex;
    flex-direction: column;
}

input[type='text'] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    font-size: 16px;
}

input[type='text']:focus {
    /* border: 2px solid rgb(109, 109, 255); */
    box-shadow: 0 0 0 1px rgb(98, 226, 255), 0 0 0 2px rgb(98, 226, 255, 0.5),
        0 0 0 4px rgb(98, 226, 255, 0.25);
}

/* BUTTONS STYLES */
.form-btn {
    border: 2px solid white;
    max-width: 110px;
    padding: 10px;
    border-radius: 5px;
    background-color: #242424;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.form-btn:hover {
    font-weight: 700;
}

.form-btn:active {
    transform: scale(0.95);
}

.add-btn {
    border-color: rgb(98, 226, 255);
}
.add-btn:hover {
    background-color: rgb(98, 226, 255);
}

.delete-btn {
    border-color: red;
}
.delete-btn:hover {
    background-color: red;
}
/* BUTTONS STYLES */

.no-categories {
    margin: 15px 0;
    font-style: italic;
    background-color: white;
    color: #242424;
    padding: 7px 13px;
    border-radius: 7px;
    font-weight: 700;
}
