.form-container {
    --blue-box-shadow: 0 0 0 1px rgb(98, 226, 255),
        0 0 0 2px rgb(98, 226, 255, 0.5), 0 0 0 4px rgb(98, 226, 255, 0.25);
    --red-box-shadow: 0 0 0 1px rgb(255, 0, 0), 0 0 0 2px rgb(255, 0, 0, 0.5),
        0 0 0 4px rgb(255, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
    width: 100%;
}

.category-form {
    display: flex;
    flex-direction: column;
}

input[type='text'] {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    font-size: 16px;
}
input[type='text']:focus {
    box-shadow: var(--blue-box-shadow);
}

#category-to-delete {
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin: 10px 0;
    border-radius: 5px;
}
#category-to-delete:focus {
    box-shadow: var(--red-box-shadow);
}

#item-category-select {
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin: 10px 0;
    border-radius: 5px;
}
#item-category-select:focus {
    box-shadow: var(--blue-box-shadow);
}

textarea {
    resize: vertical;
    border-radius: 5px;
    padding: 7px;
    outline: none;
    min-height: 50px;
    margin: 10px 0;
}
textarea:focus {
    box-shadow: var(--blue-box-shadow);
}

#price-container {
    display: flex;
    margin: 10px 0;
}

#input-price-sign {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(111, 111, 111);
    border-radius: 5px 0 0 5px;
}

#item-price {
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
}
#item-price:focus {
    box-shadow: var(--blue-box-shadow);
}

#item-img {
    margin: 10px 0;
}

/* BUTTONS STYLES */
.form-btn {
    border: 2px solid white;
    max-width: 110px;
    padding: 10px;
    border-radius: 5px;
    background-color: #242424;
    color: white;
    font-size: 16px;
    margin: 15px 0;
}

.form-btn:hover {
    font-weight: 700;
}

.form-btn:active {
    transform: scale(0.95);
}

.add-btn,
.update-btn {
    border-color: rgb(98, 226, 255);
}
.add-btn:hover,
.update-btn:hover {
    background-color: rgb(98, 226, 255);
}

.delete-btn {
    border-color: red;
}
.delete-btn:hover {
    background-color: red;
}
/* BUTTONS STYLES */

.no-categories {
    margin: 15px 0;
    font-style: italic;
    background-color: white;
    color: #242424;
    padding: 7px 13px;
    border-radius: 7px;
    font-weight: 700;
}
